# Python specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.env/
venv/
.env

# IDE / editor
.vscode/
.idea/

# Logs
*.log

# FastAPI cache
*.sqlite

# Docker
*.dockerignore

# OS files
.DS_Store
Thumbs.db
